@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-surface: #18181b;
  --color-primary: #3b82f6;
  --color-border: #27272a;
  --color-danger: #ef4444;
  --color-warning: #eab308;
  --color-success: #22c55e;
  --color-info: #3b82f6;
}

@layer base {
  body {
    @apply bg-background text-white antialiased;
  }
}

@layer components {
  /* Scrollbar aesthetics */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-600;
  }
}
